let mapleader = " "

nmap <leader>t :action GotoFile<cr>
nmap <leader>ev :e ~/.ideavimrc<cr>

"Debug stuff

map <leader>dd :action Debug<CR>
map <leader>cd :action ChooseDebugConfiguration<CR>
map <leader>rr :action Run<CR>
map <leader>cr :action ChooseRunConfiguration<CR>

"Enable plugins surround and multi cursor
set surround
set multiple-cursors
